@{
    ViewData["Title"] = "Stringee Call";
}
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
<h1>Make a call with Stringee</h1>

<input type="text" id="toNumber" placeholder="Enter phone number">
<button type="button" onclick="makeCall('normal')">Call</button>
<button type="button" onclick="endCall()">End Call</button>

<h2>Download Call Recording</h2>
<input type="text" id="callId" placeholder="Enter Call ID">
<button type="button" onclick="downloadRecording()">Download Record</button>
<button type="button" onclick="callLog()">Call Log</button>


 <div id="incoming-call-notice" style="display: none;">
       <div class="spinner-grow text-primary" role="status"  >
           <span class="sr-only">Incoming call...</span>
       </div>
       <h3>Incoming call...</h3>
</div>

<h1>Webhook Log Viewer</h1>

<div id="webhook-list-container">
    <h3>Webhook Data Received</h3>
    <ul id="webhook-list" class="list-group"></ul>
</div>

<div id="webhook-detail-container" style="display: none;">
    <h3>Webhook Detail</h3>
    <pre id="webhook-detail" class="alert alert-info"></pre>
</div>

<h1>Call Log Viewer</h1>

<div id="call-log-container" style="display: none;">
    <h3>Call Log Data</h3>
    <pre id="call-log-detail" class="alert alert-info"></pre>
</div>


<script>
    let currentToken = "";
    let activeCall = null;
    let isClientConnected = false;
    let callId = "";
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/latest.sdk.bundle.min.js"></script>
<script type="text/javascript" src="~/js/stringee.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script type="text/javascript" src="~/js/webhook.js"></script>
